.style{
    height: 300px;
    background: url(https://th.bing.com/th/id/OIP.-IcAI2xh1XaO8opipeEOJAHaHa?w=626&h=626&rs=1&pid=ImgDetMain);
    border-radius: 0 0 500px 0;
   
}

.center{
    padding: 125px 0 0 130px;
    font-size: x-large;
   
}