<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="book" href="/tabs/book">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Book</ion-label>
    </ion-tab-button>

    
    <ion-tab-button tab="employee">
      <ion-icon aria-hidden="true" name="people-circle-outline"></ion-icon>
      <ion-label>Employee</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user">
      <ion-icon aria-hidden="true" name="people-circle-outline"></ion-icon>
      <ion-label>User</ion-label>
    </ion-tab-button>

   
  </ion-tab-bar>

</ion-tabs>
