<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <div class="style">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <div class="  center">English</div> 
  </div>
  <div class="ion-padding-horizontal" *ngFor="let lesson of lessons"><br>
      <ion-item  lines="none" color="danger" class="border" (click)="goToData(lesson.id)"><br>
        <ion-text color="dark"><b>{{lesson.name}}</b></ion-text>
        
      </ion-item></div>

    
 
  
</ion-content>
