.style{
    height: 300px;
    background: url(https://th.bing.com/th/id/OIP.xzTRZHJAnfIuz8qX2Z1mkQHaEo?rs=1&pid=ImgDetMain);
    border-radius: 0 0 500px 0;
    
}

.center{

    padding: 125px 0 0 130px;
    font-size: x-large;
   
}

.border{
    border-radius: 20px 20px 20px 20px;
}
