<!-- <ion-header [translucent]="true" class="ion-no-border ion-padding-horizontal">
  <ion-toolbar>
    <ion-icon slot="start" size="large" name="menu-outline"></ion-icon>
    <ion-icon  slot="end" size="large" name="ellipse-outline"></ion-icon>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <div class="home">
    
    <div class="ion-text-center center">VFDRFSHNS</div>
    
  </div>

  <br>
  <div class="ion-text-center">
    <ion-button (click)="getToMain()" shape="round">Start</ion-button>
  </div>

</ion-content>
