.home{
    height: 300px;
    background: url(https://cdn.shopify.com/s/files/1/0045/8437/4385/articles/iStock-1011514022_1024x1024.jpg?v=1567605733);
   border-radius: 0 0 600px 0;
}

.center {
    padding-top: 125px;
    font-size: xx-large;
}